body {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #304455;
}
@media screen and (max-width: 900px) {
    body {
        -webkit-text-size-adjust: none;
        font-size: 14px;
    }    
}

.content > table th, .content > table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.content > table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 1.2em auto;
    padding: 0;
    display: block;
    overflow-x: auto;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}



a.button, input.button, button {
    padding: 0.75em 2em;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #4fc08d;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #4fc08d;
}

a.button.white, input.button.white, button.white {
    background-color: #fff;
    color: #42b983;
}



