<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>問題一覧</title>
  <script src="http://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="qlist">
    <input v-model="questionId">
    <select v-model="selectedLesson">
      <option v-for="lesson in lessons" :value="lesson.lessonId">
       {{ lesson.lessonName }}
      </option>
     </select>
    <button v-on:click="search">検索</button>

    <table>
      <thead>
        <th>
          #
        </th>
        <th>
          問題文
        </th>
      </thead>
      <tbody>
        <tr v-for="question in questions">
          <td>
            {{question.questionId}}
          </td>
          <td>
            {{question.question}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="/qlist.js"></script>
</body>
</html>