<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>quiz</title>
  <script src="http://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="quiz">
      {{question.question}}
      <div v-if="question.answerType === '01'">
        <label v-for="choice in choices">
          <input type="radio" name="choiceId" v-model="choiceId" :value="choice.choiceId">{{ choice.choiceLabel }}
        </label>
      </div>
      <div v-if="question.answerType === '02'">
        <label v-for="choice in choices">
          <input type="checkbox" :id="choice.choiceId" :value="choice.choiceId" v-model="choiceIds">{{ choice.choiceLabel }}
        </label>
      </div>
      <button v-on:click="answer">回答</button>
    </div>
    <script src="/quiz.js"></script>
</body>